
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #EBFAF5;
    --header-color: #2A3A4A;
    --div-color: #FAEBD5;
    --footer-section-color: #293B44;
}

body {
    font-size: 1em;
    background-color: var(--main-color);
}

#statement {
    background-color: var(--div-color);
    padding: 2em;
    font-weight: normal;
    text-align: left;
    margin: 2.5em 5em;
}

main {
    color: black;
}

.advjs {
    padding: 1em;
    margin: 2.5em 5em;
    background-color: var(--div-color);
}

h3 {
    margin: 0.5em 0;
}

#div1, #div2 {
    float: left;
    width: 100px;
    height: 135px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    }
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }

img {
    width: 100%;
    height: 100%;
}


.exampleArea {
    text-align: center;
}

footer {
    background-color: var(--footer-section-color);
    min-height: 3em;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}





